<!--suppress ALL-->
<div class="container">
  <div class="grid mt-2 lg:mt-8">
    <div class="col-12">
      <form  [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="flex flex-column">
        <div class="mb-1">
          <label for="formFile" class="form-label mr-4">Upload Img</label>
          <input type="file" class="form-control my-btn" id="formFile"
                 formControlName="img"  (change) = "imageUpload($event)" >
        </div>
        <div>
          <button pButton type="submit" icon="pi pi-check"
                  class="p-button-secondary" >Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
