<!--suppress ALL-->

<h1 class="flex justify-content-center align-content-center">{{message}}</h1>
<h2>{{errorMsg}}</h2>


<div class="container card">
  <div class="relative">
    <div class="static  py-4">
    </div>
    <div class="flex">
      <input type="text" style="padding: 10px 10px; border-radius: 7px; width: 15rem; margin-right: 5px" [(ngModel)]="searchValue" name="searchValue" id="search">
      <button type="submit" style="padding: 10px 10px; border-radius: 7px; margin-left: 5px; cursor: pointer" (click)="getSearchValue()">Go</button>
      <button type="submit"
              style="padding: 10px 10px; border-radius: 7px; margin-left: 5px; cursor: pointer" (click)="getProducts()"

       [ngClass]="searchValue === '' ? 'hide' : 'show'">Reset</button>

    </div>
  </div>
</div>



<div class="container mt-1 md:mt-2 xl:mt-8">
  <div class="card">
    <p-table
      [paginator]="true"
      [rowsPerPageOptions]="[10, 25, 50]"
      [rows]="10"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '25rem' }"
      [value]="products"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Category</th>
          <th>Brand</th>
          <th>Quantity</th>
          <th>Favorite</th>
          <th>Price</th>
          <th>Pid</th>
          <th>Entry date</th>
          <th>Storage</th>
        </tr>
      </ng-template>
      <ng-template let-product pTemplate="body">
        <tr (click)="goToProductId(product.id)">
          <!--        FIXME vine defalcat nu cod-->
          <td>
            <ngx-barcode6
              [bc-format]="'CODE128'"
              [bc-height]="30"
              [bc-value]="product.codebar || ''" [bc-width]="1"
            >
            </ngx-barcode6>
          </td>
          <td>{{ product.name }}</td>
          <td>{{ product?.category_name }}</td>
          <td>{{ product?.brand_name }}</td>
          <td>{{ product?.quantity }}</td>
          <td [ngClass]="product?.favorite ? 'red':'blue'">{{ product?.favorite === 'true' ? '&#11088;' : '&#8854;' }}</td>
          <td>{{ product?.price}}</td>
          <td>{{ product?.id }}</td>
          <td>{{ product?.created_at | date:'MMM d, y, h:mm:ss a'  }}</td>
          <!--     TODO [ngClass]="mobile ? 'p-hidden' : 'block'"-->
          <td>{{ product?.storage }}</td>
        </tr>
      </ng-template>
      <!--      FIXME paginator padding-->
      <ng-template pTemplate="paginatorleft">
        <p-button icon="pi pi-plus" styleClass="p-button-text" type="button"></p-button>
      </ng-template>
      <ng-template pTemplate="paginatorright">
        <p-button icon="pi pi-cloud" styleClass="p-button-text" type="button"></p-button>
      </ng-template>
    </p-table>
  </div>

</div>
