
<!--<div class="container">-->
<!--  <div class="grid"  >-->
<!--    <div class="col-12 md:col-6" *ngFor="let product of products">-->
<!--&lt;!&ndash;      FIXME&ndash;&gt;-->
<!--      <div class="text-center p-3 border-round-sm  font-bold"  (click)="goToProductId(product.id)">-->
<!--        <div class="surface-section">-->
<!--          <div class="font-medium text-3xl text-900 mb-3"> Name: {{product.name}}</div>-->
<!--          <div class="text-500 mb-5">Price: {{product.price}} $</div>-->
<!--          <ul class="list-none p-0 m-0">-->
<!--            <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">-->
<!--              <div class="text-500 w-6 md:w-2 font-medium">brand :</div>-->
<!--              <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">{{product?.brand}}</div>-->
<!--            </li>-->
<!--            <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">-->
<!--              <div class="text-500 w-6 md:w-2 font-medium">favorite :</div>-->
<!--              <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">{{product.favorite}}</div>-->
<!--            </li>-->
<!--            <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">-->
<!--              <div class="text-500 w-6 md:w-2 font-medium">quantity</div>-->
<!--              <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">{{product.quantity}}</div>-->

<!--            </li>-->
<!--            <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">-->
<!--              <div class="text-500 w-6 md:w-2 font-medium">category </div>-->
<!--              <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">{{product.category}}</div>-->

<!--            </li>-->
<!--            <li class="flex align-items-center py-3 px-2 border-top-1 border-bottom-1 surface-border flex-wrap">-->
<!--              <div class="text-500 w-6 md:w-2 font-medium">codebar :</div>-->
<!--              <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1 line-height-3">-->
<!--                {{product?.codebar}}</div>-->
<!--              <ngx-barcode6-->
<!--                [bc-format]="'CODE128'"-->
<!--                [bc-value]="product.codebar || ''"-->
<!--                [bc-display-value]="true"-->
<!--              >-->
<!--              </ngx-barcode6>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </div>-->

<!--      </div>-->
<!--    </div>-->
<!--    <h1>{{message}}</h1>-->
<!--    <h2>{{errorMsg}}</h2>-->
<!--  </div>-->
<!--</div>-->


<h1>{{message}}</h1>
<h2>{{errorMsg}}</h2>
<!--<div class="container">-->
<!--  <div class="grid"  >-->
<!--    <p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }"  class="col-12">-->
<!--      <ng-template pTemplate="header">-->
<!--        <tr>-->
<!--          <th>Code</th>-->
<!--          <th>Name</th>-->
<!--          <th>Category</th>-->
<!--          <th>Quantity</th>-->
<!--          <th>Favorite</th>-->
<!--          <th>Price</th>-->
<!--          <th>Pid</th>-->
<!--&lt;!&ndash;          <th>Uid</th>&ndash;&gt;-->
<!--          <th>Entry date</th>-->
<!--          <th>Storage</th>-->
<!--        </tr>-->
<!--      </ng-template>-->
<!--      <ng-template pTemplate="body" let-product>-->
<!--        <tr (click)="goToProductId(product.id)">-->
<!--&lt;!&ndash;          <td>{{ product.codebar }}</td>&ndash;&gt;-->
<!--          <td  >-->
<!--            {{ product.codebar }}-->
<!--&lt;!&ndash;            <ngx-barcode6&ndash;&gt;-->
<!--&lt;!&ndash;              [bc-format]="'CODE128'"&ndash;&gt;-->
<!--&lt;!&ndash;              [bc-value]="product.codebar || ''"&ndash;&gt;-->
<!--&lt;!&ndash;            >&ndash;&gt;-->
<!--&lt;!&ndash;            </ngx-barcode6>&ndash;&gt;-->
<!--          </td>-->
<!--          <td>{{ product.name }}</td>-->
<!--          <td>{{ product?.category }}</td>-->
<!--          <td>{{ product?.quantity }}</td>-->
<!--          <td>{{ product?.favorite }}</td>-->
<!--          <td>{{ product?.price }}</td>-->
<!--          <td>{{ product?.id }}</td>-->
<!--&lt;!&ndash;          <td>{{ product?.uid }}</td>&ndash;&gt;-->
<!--          <td>{{ product?.created_at | date:'MMM d, y, h:mm:ss a'  }}</td>-->
<!--          <td>{{ product?.storage }}</td>-->
<!--        </tr>-->
<!--      </ng-template>-->
<!--    </p-table>-->
<!--  </div>-->
<!--</div>-->


<div class="card">
  <p-table
    [value]="products"
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[10, 25, 50]"
  >
    <ng-template pTemplate="header">
      <tr >
<!--        <th style="width:25%">Name</th>-->
<!--        <th style="width:25%">Country</th>-->
<!--        <th style="width:25%">Company</th>-->
<!--        <th style="width:25%">Representative</th>-->
        <th>Code</th>
        <th>Name</th>
        <th>Category</th>
        <th>Quantity</th>
        <th>Favorite</th>
        <th>Price</th>
        <th>Pid</th>
        <!--          <th>Uid</th>-->
        <th>Entry date</th>
        <th>Storage</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr (click)="goToProductId(product.id)">
        <td  >
          {{ product.codebar }}
        </td>
        <td>{{ product.name }}</td>
        <td>{{ product?.category }}</td>
        <td>{{ product?.quantity }}</td>
        <td [ngClass]="product?.favorite ? 'red':'blue'">{{ product?.favorite === 'true' ? '&#11088;' : '&#8854;' }}</td>
        <td>{{ product?.price}}</td>
        <td>{{ product?.id }}</td>
        <!--          <td>{{ product?.uid }}</td>-->
        <td>{{ product?.created_at | date:'MMM d, y, h:mm:ss a'  }}</td>
        <td>{{ product?.storage }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
    </ng-template>
    <ng-template pTemplate="paginatorright">
      <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
    </ng-template>
  </p-table>
</div>

