<!--<p-panel >-->
<!--  <ng-template pTemplate="header">-->
<!--    Header content here-->
<!--  </ng-template>-->
<!--  Body Content-->
<!--  <ng-template pTemplate="footer">-->
<!--    Footer content here-->
<!--  </ng-template>-->
<!--  <ng-template pTemplate="icons">-->
<!--    <button pButton class="p-panel-header-icon p-link" (click)="menu.toggle($event)">-->
<!--      <span class="pi pi-cog"></span>-->
<!--    </button>-->
<!--    <p-menu #menu id="config_menu" [model]="items" [popup]="true"></p-menu>-->
<!--  </ng-template>-->
<!--</p-panel>-->
<!--<p-menubar [model]="items"></p-menubar>-->
<!--<p-menubar [model]="items" [styleClass]="{'p-menubar-mobile': true}"></p-menubar>-->

<div class="app-header">
  <button class="profile-button p-button p-button-rounded p-button-success">Profile</button>
  <button class="logout-button p-button p-button-rounded p-button-danger">Logout</button>
</div>


