
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px 20px;
}


@media (max-width: 600px) {
  .app-header {
    flex-direction: column;
    text-align: center;
  }

  .app-header .profile-button,
  .app-header .logout-button {
    margin-top: 10px;
  }
}
