<!--suppress ALL-->
<div class="container mt-4 relative">

<!--  FIXME button-->
  <div class="relative ">
    <div class=" absolute top-2 right-5">
      <button pButton type="button" icon="pi pi-check" class="p-button-secondary" (click)="isEditable = !isEditable">Edit</button>
      <button pButton type="button" icon="pi pi-check" class="p-button-secondary" (click)="deleteProduct(product?.id)">Delete</button>
    </div>
  </div>
  <div class="grid" >
    <div class="col-12" *ngIf="isEditable">
      <!--      FIXME-->
      <div class="text-center p-3 border-round-sm  font-bold">
        <form>
        <div class="surface-section">
          <div class="font-medium text-3xl text-900 mb-3"> Name:
          </div>
          <div class="text-500 mb-5">Price: {{product?.price}} $</div>
          <ul class="list-none p-0 m-0">
            <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
              <div class="text-500 w-6 md:w-2 font-medium">name :</div>
              <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
                <input type="text" id="name" pInputText [(ngModel)]="name" name="name" class="w-full"/>
              </div>
            </li>
            <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
              <div class="text-500 w-6 md:w-2 font-medium">brand :</div>
              <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
                <input type="text" id="brand" pInputText [(ngModel)]="brand" name="brand" class="w-full"/>
              </div>
            </li>
            <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
              <div class="text-500 w-6 md:w-2 font-medium">favorite :</div>
              <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
                <input type="text" id="favorite" pInputText [(ngModel)]="favorite" name="favorite" class="w-full"/>
              </div>
            </li>
            <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
              <div class="text-500 w-6 md:w-2 font-medium">quantity</div>
              <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
                <input type="number" id="quantity" pInputText [(ngModel)]="quantity" name="quantity" class="w-full"/>
              </div>

            </li>
            <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
              <div class="text-500 w-6 md:w-2 font-medium">category </div>
              <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
                <input type="text" id="category" pInputText [(ngModel)]="category" name="category" class="w-full"/>
              </div>

            </li>
            <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
              <div class="text-500 w-6 md:w-2 font-medium">price </div>
              <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
                <input type="number" id="price" pInputText [(ngModel)]="price" name="price" class="w-full"/>
              </div>

            </li>

            <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
              <div class="text-500 w-6 md:w-2 font-medium">description </div>
              <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
                <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="text" name="text" class="w-full"></textarea>
              </div>
            </li>
            <li class="flex align-items-center py-3 px-2 border-top-1 border-bottom-1 surface-border flex-wrap">
              <div class="text-500 w-6 md:w-2 font-medium">codebar :</div>
              <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1 line-height-3">
                <ngx-barcode6
                  [bc-format]="'CODE128'"
                  [bc-value]="product?.codebar || ''"
                  [bc-display-value]="true"
                  [bc-width]="2" [bc-height]="40"
                >
                </ngx-barcode6>
              </div>
            </li>
          </ul>
          <button pButton type="button" icon="pi pi-check"
                  class="p-button-secondary"  (click)="updateProduct()">Save</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>



<!--==========-->
<div class="container">
  <div class="grid"  >
    <div class="col-12" *ngIf="!isEditable">
      <!--      FIXME-->
      <div class="text-center p-3 border-round-sm  font-bold">
        <div class="surface-section">
          <div class="font-medium text-3xl text-900 mb-3"> Name: {{product?.name}}</div>
          <div class="text-500 mb-5">Price: {{product?.price}} $</div>
          <div class="text-500 mb-5">Price: {{product?.id}} </div>
          <ul class="list-none p-0 m-0">
            <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
              <div class="text-500 w-6 md:w-2 font-medium">brand :</div>
              <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">{{product?.brand_name}}</div>
            </li>
            <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
              <div class="text-500 w-6 md:w-2 font-medium">favorite :</div>
              <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">{{product?.favorite}}</div>
            </li>
            <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
              <div class="text-500 w-6 md:w-2 font-medium">quantity</div>
              <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">{{product?.quantity}}</div>

            </li>
            <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
              <div class="text-500 w-6 md:w-2 font-medium">category </div>
              <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">{{product?.category_name}}</div>

            </li>
            <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
              <div class="text-500 w-6 md:w-2 font-medium">description </div>
              <div class="text-900 w-full  md:flex-order-0 flex-order-1">{{product?.text}}</div>

            </li>

            <li class="flex align-items-center py-3 px-2 border-top-1 border-bottom-1 surface-border flex-wrap">
              <div class="text-500 w-6 md:w-2 font-medium">codebar :</div>
              <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1 line-height-3">
                <ngx-barcode6
                  [bc-format]="'CODE128'"
                  [bc-value]="product?.codebar || ''"
                  [bc-display-value]="true"
                  [bc-width]="1" [bc-height]="30"
                >
                </ngx-barcode6>
              </div>
            </li>
            <li>
<!--              //FIXME CORS -->
              <div class="card flex justify-content-center">
                <p-image src="{{product?.brand_img}}" [preview]="true" alt="Image" width="250">
                  <ng-template pTemplate="indicator">
                    <i class="pi pi-check"></i>
                  </ng-template>
                </p-image>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
