.test{
  background: #c1c1c1 !important;
  border-radius: 15px;
  border: 1px solid #000;
  padding: 12px 8px;
  margin: 1rem 0;

}
.show {
  display: block;
}

.hidden_test {
  background: #c1c1c1 !important;
  border-radius: 15px;
  opacity: .05;
}
