<div class="flex flex-wrap justify-content-center card-container gap-3 align-content-center sm:mt-5 md:h-screen " >
  <div class="border-round w-24rem sm:h-96rem lg:h-48rem  text-white font-bold flex align-items-center justify-content-center cursor-pointer"
       (click)="goToModule(item.module_id)"
       *ngFor="let item of modules">
    <p-card [style]="{width: '360px', height: '28rem'}" styleClass="p-card-shadow" class="test relative">
      <ng-template pTemplate="header">
        <img alt="Card" src="{{item?.module_img}}">
      </ng-template>
      <p class="test">{{item?.module_name}}</p>
    </p-card>
  </div>
</div>
